#codetxt {  
  font-family: Consolas,
               monaco,
               monospace;
  font-size: 12px;   
}

#codeout {  
  font-family: Consolas,
               monaco,
               monospace;
  font-size: 12px;   
}